<div id="nav_footer">
	<div id="dd_footer_logo">Data Delivery</div>
	<a href="https://www.google.co.uk/maps/place/Ipsos+MORI/@51.499114,-0.09825,15z/data=!4m2!3m1!1s0x0:0xf7dae432dde4af36" target="_blank" id="address_link">
		Ipsos MORI
		<br>
		79-81 Borough Road
		<br>
		London, SE1 1FY
	</a>
	<a id="dd_tel">
		<span>+44 (0)20 7347 3000</span>
	</a>
	<a id="dd_email">
		<span>dd@ipsos.com</span>
	</a>
	<small>
		© Ipsos MORI
		<br>
		<a href="/privacy" style="font-size:1em;">Disclosures</a>
	</small>
</div>